* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ECF0F1;
}

    .heroPage {
        width: 90%;
        margin: 0px auto;
    }

.logo {
    margin-top: 40px;
    width: 20%;
    }

.webIntro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}
  
    .webIntro .introImg {
       width: 800px;
       height: 400px;
       border-radius: 15px;
       background-image:url(../images/akson-717434-unsplash.png);
       padding: 20px;
    }

    .introText {
        width: 800px;
        height: 400px;
        border-radius: 15px;
        background-color:#ffffff;
        margin-left: 20px;
        padding: 40px;
    }
    
        .introText h2 {
			color: #40223E;
			font-weight: bold;
			font-size: 40px;
			line-height: 40px;
        }

      .imgHolder {
          width: 330px;
          height: 540px;
          overflow: hidden;
         } 
         
         .imgHolder img {
             width: 100%;
             height: 100%;
             object-fit: cover;
             position: relative;
         }
        
/* Mario */

.cards {
	width: 100%;
    margin: 50px 0px 100px 0px;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

	.cardWrapper {
		width: 320px;
		margin: 0px 20px 40px 20px;
	}

		.cardWrapper a {
			display: inline-block;
			border-radius: 5px;
			position: relative;
		}

		.cardWrapper a:before {
			content: "";
			display: inline-block;
			width: 100%;
			height: 100%;
			background: #dedede;
			border-radius: 15px;
			position: absolute;
			right: -12px;
			top: 12px;
		}

		.card-wrapper-inner {
			width: 100%;
			display: inline-block;
			position: relative;
		}

			.section-top {
				width: 100%;
				height: 430px;
				display: inline-block;
				position: relative;
			}

				.imgHolder-1 {
					display: inline-block;
					width: 100%;
					height: 100%;
					overflow: hidden;
					/* border: 4px solid #df6650; */
					border-top-left-radius: 15px;
					border-top-right-radius: 15px;
					box-sizing: border-box;
					background: #df6650;
				}

				.titles {
					display: flex;
					width: 100%;
					height: 140px;
					position: absolute;
					bottom: 0;
					align-items: flex-end;
				}

				.titles h2 {
					color: #fff;
					position: relative;
					z-index: 1;
					box-sizing: border-box;
					padding: 29px 20px;
					line-height: 30px;
				}

				.line-holder {
					position: absolute;
					bottom: 0;
					mask: url("../images/decoration.svg") no-repeat center center;
					-webkit-mask: url("../images/decoration.svg") no-repeat center center;
					-webkit-mask-size: cover;
					background: #df6650;
					mask-size: cover;
					width: 100%;
					height: 100%;
				}

				.line-holder-bottom {
					mask: url("../images/decoration-bottom.svg") no-repeat center center;
					-webkit-mask: url("../images/decoration-bottom.svg") no-repeat center center;
					-webkit-mask-size: contain;
					background: #df6650;
					mask-size: contain;
					width: 100%;
					height: 22px;
					display: inline-block;
					margin: 5px 0px 0px 0px;
				}

					.imgHolder-1 img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 15px;
					}

					.line-holder svg {
						width: 100%;
						height: 200px;
					}

	footer {
		font-weight: lighter;
		font-size: 12px;
		color: #40223E;
		display: flex;
		flex-direction: row;
		justify-content: space-between; 
	}

	footer a {
		text-decoration: none;
		color: #40223E;  
	}

	.icon {
		margin-right: 10px;
	}

	.introText p {
		color: #3f213e91;
		margin: 0px 0px 0px 0px;
		line-height: 24px;
	}
    