* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ECF0F1;
}

    .HeroPage {
        width: 90%;
        margin: 0px auto;
    }

.logo {
    margin-top: 40px;
    width: 20%;
    }

    .mainContainer {
        display: flex;
	    flex-direction: row;
	    justify-content: space-between;
    }

.leftContainer {
    margin-top: 60px;
    width:25%;
}

.cards {
    width: 100%;
	margin: 30px 30px 30px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

	.cardWrapper {
		width: 280px;
	}

		.cardWrapper a {
			display: inline-block;
			border-radius: 5px;
			position: relative;
		}

		.cardWrapper a:before {
			content: "";
			display: inline-block;
			width: 100%;
			height: 100%;
			background: #dedede;
			border-radius: 15px;
			position: absolute;
			right: -12px;
			top: 12px;
		}

		.card-wrapper-inner {
			width: 100%;
			display: inline-block;
			position: relative;
		}

			.section-top {
				width: 100%;
				height: 440px;
				display: inline-block;
				position: relative;
			}

				.imgHolder-1 {
					display: inline-block;
					width: 100%;
					height: 100%;
					overflow: hidden;
					border: 4px solid #47B39C;
					border-top-left-radius: 15px;
					border-top-right-radius: 15px;
				}

				.titles {
					display: flex;
					width: 100%;
					height: 140px;
					position: absolute;
					bottom: 0;
					align-items: flex-end;
				}

				.titles h2 {
					color: #fff;
					position: relative;
					z-index: 1;
					box-sizing: border-box;
					padding: 25px 20px;
					line-height: 30px;
				}

				.line-holder {
					position: absolute;
					bottom: 0;
					mask: url("../images/decorationWeb.svg") no-repeat center center;
					-webkit-mask: url("../images/decorationWeb.svg") no-repeat center center;
					-webkit-mask-size: cover;
					background: #47B39C;
					mask-size: cover;
					width: 100%;
					height: 100%;
				}

				.line-holder-bottom {
					mask: url("../images/decorationWebBottom.svg") no-repeat center center;
					-webkit-mask: url("../images/decorationWebBottom.svg") no-repeat center center;
					-webkit-mask-size: contain;
					background: #47B39C;
					mask-size: contain;
					width: 100%;
					height: 22px;
					display: inline-block;
					margin: 5px 0px 0px 0px;
				}

					.imgHolder-1 img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

					.line-holder svg {
						width: 100%;
						height: 200px;
                    }

 /* right Side of the page */

.rightContainer {
    width: 60%;
    height: 440px;
    margin-top: 120px;
}

.gallery {
position: relative;
}

.gallery:hover .thumb {
  opacity: .5;
}

    .thumb {
    height: 100px;
    width: 15%;
    background: no-repeat center center;
    background-size: cover;
    margin: 10px;
    }

    .gallery .thumb:hover {
    opacity: 1; 
    }

.thumb:before, .thumb:after { 
  opacity: 0; 
}

.thumb:last-of-type:before, .thumb:last-of-type:after { opacity: 1; }
.thumb:hover:before, .thumb:hover:after { 
  z-index: 100; 
  opacity: 1;
  
}

.thumb:before { 
  content: '';
  position: absolute;
  top: 0; left: 20%;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding-left: 20px; 
  background: inherit;
}

.thumb.first {
  background-image: url(../images/proekti/AS-1.png);
}

.thumb.second {
  background-image: url(../images/proekti/AS-2.png);
}

.thumb.third {
  background-image: url(../images/proekti/AS-3.png);
}

.thumb.fourth {
    background-image: url(../images/proekti/AS-4.png);
  }

  .thumb.fifth {
    background-image: url(../images/proekti/AS-5.png);
  }